<div class="BordaTelaPergunta margem" id="divJogo" ng-style="">
	<div id="div1" data-u="NOME" style="text-align:center">{{ $root.user.username }}</div>
	<div id="div2" data-u="AVATAR" ng-style="{'background-image': 'url(register/Avatar%20'+ $root.user.avatar +'.png)','background-size':'contain', 'background-position':'center'}"></div>
	<div id="div3" data-u="PONTOS" style="width:90px;font-size:12px;">Pontos: {{ $root.user.pontos }}</div>

	<div id="STARS-Q" style="position: absolute; top: 225px; width: 300px; height: 360px; left: 0px;">
		<div id="star-{{continent}}" ng-repeat="continent in ['north_america', 'south_america', 'oceania', 'africa', 'asia', 'europe']" style="margin-top: 27px; height: 32px;">
			<span ng-repeat="star in mkArray($root.game.continents[ continent ]) track by $index" style="display:inline-block;background-position:center;background-size:contain;width:30px;height:30px;background-image:url(assets/Star.png)"></span>
		</div>
		<div id="div4" data-u="?2"></div>
	</div>


	<div id="div5" data-u="RESPOSTA" class="pnt" ng-click="submitAnswer()" ></div>
	<div id="div6" data-u="VOLTAR" class="pnt" ng-click="back()"></div>
	<a href="#!/sign-in"><div id="div7" data-u="SAIR"></div></a>
	<div id="div8" data-u="LOJA" class="pnt" ng-click="goShop()"></div>
	<div id="div9" data-u="?4"></div>
	<div id="div10" data-u="OPINIÃO"></div>
	<div id="div11" data-u="SKIP" class="pnt" ng-click="pular()"></div>
	<div id="div12" data-u="CARTAS"></div>
	<div id="div13" data-u="?5"></div>
	<div id="div14" data-u="CONTEUDO PERGUNTA" style="padding-top: 20px">
		<div ng-show="msgAlt == 0">
			{{ quiz.pergunta }}
			<md-radio-group
				ng-show="!msgAlt"
				layout-margin
				ng-model="answer">
				<md-radio-button ng-repeat="item in quiz.alternativas"
								ng-value="item.id_alternativa" class="md-primary">
					{{ fromCharCode(65 + $index) }}) {{item.alternativa}}
				</md-radio-button>
			</md-radio-group>
			<!-- <span ng-show="!!quiz.pergunta" style="position:relative;top: 60px">
				Tempo: <progress value="{{timerem}}" max="45"></progress>
			</span> -->
		</div>
		<p style="text-align:center">
			<span ng-style="{display:'inline-block',height:'40px',width:'40px','background-position':'center','background-size':'contain','background-image':getRetAltImg()}"></span> {{ retAlt }}
		</p>
	</div>

</div>