<div class="BordaTelaPergunta margem" id="divJogo" ng-style="">
	<div id="div1" data-u="NOME" style="text-align:center">{{ $root.user.username }}</div>
	<div id="div2" data-u="AVATAR" ng-style="{'background-image': 'url('+ user.nome +')'}"></div>
	<div id="div3" data-u="PONTOS" style="width:90px;font-size:12px;">Pontos: {{ $root.user.pontos }}</div>

	<div id="STARS-Q" style="position: absolute; top: 225px; width: 165px; height: 360px; left: 10px;">
		<div ng-repeat="item in []">

		</div>
		<div id="div4" data-u="?2"></div>
	</div>


	<div id="div5" data-u="RESPOSTA" class="pnt" ng-click="submitAnswer()" ></div>
	<div id="div6" data-u="VOLTAR" class="pnt" ng-click="back()"></div>
	<a href="#!/sign-in"><div id="div7" data-u="SAIR"></div></a>
	<div id="div8" data-u="LOJA"></div>
	<div id="div9" data-u="?4"></div>
	<div id="div10" data-u="OPINIÃO"></div>
	<div id="div11" data-u="SKIP" ng-click="pular()"></div>
	<div id="div12" data-u="CARTAS"></div>
	<div id="div13" data-u="?5"></div>
	<div id="div14" data-u="CONTEUDO PERGUNTA" style="padding-top: 20px">
		{{ quiz.pergunta }}
		<md-radio-group
			layout-margin
			ng-model="answer">
			<md-radio-button ng-repeat="item in quiz.alternativas"
							ng-value="item.alternativa" class="md-primary">
				{{ fromCharCode(65 + $index) }}) {{item.alternativa}}
			</md-radio-button>
		</md-radio-group>
		<span ng-show="!!quiz.pergunta" style="position:relative;top: 60px">Tempo: <progress value="{{timerem}}" max="45"></progress></span>
	</div>

</div>