body {
  overflow: hidden;
}

/*
FLEXBOX
*/

.flex {
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-a {
  justify-content: center;
}

.center-b {
  align-items: center;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.cartas{
  width: 200px;
  height: 330px;
  border: solid lightgray 1px;
  margin: 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: contain;
}
.cartas:hover{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.cartas.espadas{
  background-image: url("components/img/card/espadas.png");
  transform: rotateY(180deg);
}

.cartas.paus{
  background-image: url("components/img/card/paus.png");
  transform: rotateY(180deg);
}
.cartas.copas{
  background-image: url("components/img/card/copas.png");
  transform: rotateY(180deg);

}
.cartas.ouro{
  background-image: url("components/img/card/ouro.png");
  transform: rotateY(180deg);
}

.cartas.zero{
  background-image: url("components/img/card/0.png");
  transform: rotateY(180deg);
}
.cartas.one{
   background-image: url("components/img/card/1.png");
  transform: rotateY(180deg);
}
.cartas.two{
  background-image: url("components/img/card/2.png");
  transform: rotateY(180deg);
}
.cartas.three{
  background-image: url("components/img/card/3.png");
  transform: rotateY(180deg);
}

.cartas.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

path:hover{
  fill: #51CBEE!important;
}

path:hover{
  fill: #51CBEE!important;
}

path#africa.active{
  fill: blue!important;
}

