<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">Show do milhao - ES3</h3>
        <ul class="nav masthead-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/api/" target="_self">API</a></li>
          <li><a href="/admin/" target="_self">Admin</a></li>
          <li><a href="/jogo/" target="_self">Jogo</a></li>
        </ul>
      </div>
    </div>

    <div class="inner cover">
      <h1 class="cover-heading">Ate que enfim saiu esse demo online!</h1>

      <p class="lead">Aqui faremos a tela de login, sorry guys nao manjo de front direito, conto com voces ;).</p>

      <h4>O que precisa ser feito:</h4>
      <ul class="list-unstyled">
        <li ng-repeat="todo in todos">
          {{ todo }}
        </li>
      </ul>

    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Segui esse tutorial do <a href="https://github.com/djng/djng">djng</a>          
        </p>
        <p>
        <a
          href="https://github.com/AnderSilva/ES3-ShowDoMilhao">Este eh o github base desse codigo</a>.
        </p>
      </div>
    </div>
  </div>
</div>
